<footer>
    <div class="footer-top">
        <div class="footer-links">
            <ul>
                <li><a href="/sobre">Sobre nós</a></li>
                <li><a href="/duvidas">Dúvidas</a></li>
                <li><a href="/ajude">Nos ajude</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h3>Siga-nos</h3>
            <div class="icons-redes">
                <a href="https://wa.me/5598999999999" target="_blank">
                    <img src="/img/whatsapp.png" alt="WhatsApp">
                </a>
            </div>
        </div>
        <div class="footer-imgs">
            <img src="/img/footer.png" alt="Ilustração">
        </div>
    </div>
    <div class="footer-bottom">
        <span>2026 DiscoverBook - IFMA São José de Ribamar</span>
    </div>
</footer>