<div class="barra-categorias">
    <nav class="nav-menu">
        <ul>
            <li class="dropdown">
                <a href="#">☰ Categorias</a>
                <div class="mega-menu">
                    <div class="coluna">
                        <h4>Crianças</h4>
                        <a href="/infantil">Infantil</a>
                        <a href="/tres_cinco">3 a 5 anos</a>
                        <a href="/seis_dez">6 a 10 anos</a>
                    </div>
                    <div class="coluna">
                        <h4>Juvenil</h4>
                        <a href="/onze_mais">11 a 14 anos</a>
                        <a href="/e_medio">Ensino médio</a>
                    </div>
                    <div class="coluna">
                        <h4>Outros</h4>
                        <a href="/home">Página principal</a>
                        <a href="/leitura">Leituras</a>
                        <a href="/doar">Doe seu livro</a>
                        <a href="/sobre">Sobre nós</a>
                        <a href="/acervo">Acervo</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>