<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3-5 anos - DiscoverBook</title>

  <link rel="stylesheet" href="/css/idade3-5anos.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
</head>

<body>

<!-- TOPO + HEADER + MENU -->
<%- include("partials/topo") %>
<%- include("partials/header") %>
<%- include("partials/nav-categorias") %>

<!-- ================== LIVROS DE COLORIR ================== -->

<section class="categoria-livros">

    <h2>Leiturinha</h2>

    <div class="area-carrossel">

        <button class="seta esquerda">&#10094;</button>

        <div class="carrossel-livros">

            <div class="livro-card">
                <img src="/img/perigoso.jpg" alt="perigoso">
                <h3>perigoso</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

            <div class="livro-card">
                <img src="/img/oursinhoapavorado.jpg" alt="o ursinho apavorado">
                <h3>o ursinho apavorado</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>


            <div class="livro-card">
                <img src="/img/matilda.jpg" alt="Matilda">
                <h3>Matilda</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

            <div class="livro-card">
                <img src="/img/encontro.webp" alt="Um Encontro">
                <h3>Um Encontro</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

            <div class="livro-card">
                <img src="/img/chapeuzinho.webp" alt="Chapeuzinho Vermelho">
                <h3>Chapeuzinho Vermelho</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

               <div class="livro-card">
                <img src="/img/malala.webp" alt="malala">
                <h3>malala</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

               <div class="livro-card">
                <img src="/img/chapeuzinho.webp" alt="Chapeuzinho Vermelho">
                <h3>Chapeuzinho Vermelho</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>
        </div>

        <button class="seta direita">&#10095;</button>

    </div>

</section>

<!-- ================== PRIMEIRAS LEITURAS ================== -->


<section class="categoria-livros">

    <h2>primeira leituras</h2>

    <div class="area-carrossel">

        <button class="seta esquerda">&#10094;</button>

        <div class="carrossel-livros">

            <div class="livro-card">
                <img src="/img/perigoso.jpg" alt="perigoso">
                <h3>perigoso</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

            <div class="livro-card">
                <img src="/img/oursinhoapavorado.jpg" alt="o ursinho apavorado">
                <h3>o ursinho apavorado</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

            <div class="livro-card">
                <img src="/img/chapeuzinho.webp" alt="Chapeuzinho Vermelho">
                <h3>Chapeuzinho Vermelho</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

            <div class="livro-card">
                <img src="/img/encontro.webp" alt="Um Encontro">
                <h3>Um Encontro</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>
                <div class="livro-card">
                <img src="/img/chapeuzinho.webp" alt="Chapeuzinho Vermelho">
                <h3>Chapeuzinho Vermelho</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

               <div class="livro-card">
                <img src="/img/chapeuzinho.webp" alt="Chapeuzinho Vermelho">
                <h3>Chapeuzinho Vermelho</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

        </div>

        <button class="seta direita">&#10095;</button>

    </div>

</section>

<!-- ================== CONTOS INFANTIS ================== -->

<!-- ================== LIVROS DE COLORIR ================== -->

<section class="categoria-livros">

    <h2>Contos Infantins</h2>

    <div class="area-carrossel">

        <button class="seta esquerda">&#10094;</button>

        <div class="carrossel-livros">

            <div class="livro-card">
                <img src="/img/galinha.webp" alt="">
                <h3>A Galinha Vermelha</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

            <div class="livro-card">
                <img src="/img/animais.jpg" alt="">
                <h3>Explorando com os Animais</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

            <div class="livro-card">
                <img src="/img/chapeuzinho.webp" alt="">
                <h3>Chapeuzinho Vermelho</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

            <div class="livro-card">
                <img src="/img/encontro.webp" alt="">
                <h3>Um Encontro</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>
   <div class="livro-card">
                <img src="/img/chapeuzinho.webp" alt="">
                <h3>Chapeuzinho Vermelho</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

               <div class="livro-card">
                <img src="/img/chapeuzinho.webp" alt="">
                <h3>Chapeuzinho Vermelho</h3>
                <a href="/carrinho" class="btn-carrinho">Carrinho</a>
            </div>

        </div>

        <button class="seta direita">&#10095;</button>

    </div>

</section>
<!-- ================== BANNER ================== -->

<section class="banner-infantil">

    <div class="banner-texto">

        <h2>Livros selecionados por idade</h2>

        <ul>
            <li>Garanta seu livro para sua criança</li>
            <li>A leitura transforma vidas</li>
        </ul>

        <a href="/cadastro" class="btn-banner">
            Cadastre-se
        </a>

    </div>

    <div class="banner-imagem">
        <img src="/img/banner-infantil.png" alt="Banner Infantil">
    </div>

</section>

<!-- ================== ENCONTRE TAMBÉM ================== -->

<section class="encontre-tambem">

    <h2>Encontre também para:</h2>

    <div class="area-carrossel">

   
        <div class="idades-carrossel">

           <a href="/infantil" class="idade-card">
        <img src="/img/infantil.png" alt="Infantil">
        <h3>Infantil</h3>
    </a>

            <a href="/idade6-10" class="idade-card">
                <img src="/img/idade6-10anos.png" alt="6 a 10 anos">
                <h3>6-10 anos</h3>
            </a>

            <a href="/idade11-14" class="idade-card">
                <img src="/img/idade11-14anos.png" alt="11 a 14 anos">
                <h3>11 a 14 anos</h3>
            </a>

            <a href="/ensinomedio" class="idade-card">
                <img src="/img/ensinomedio.png" alt="Ensino Médio">
                <h3>Ensino Médio</h3>
            </a>

        </div>

      

    </div>

</section>

<!-- ================== FOOTER ================== -->

<%- include("partials/footer") %>

<!-- ================== WHATSAPP ================== -->

<a href="https://wa.me/5599999999999" class="whatsapp" target="_blank">
    <img src="/img/whatsapp.png" alt="WhatsApp">
</a>
<script src="/js/infantil.js"></script>
<script src="/js/infantil.js" defer></script>
</body>
</html>